.btn-container {
  width: 100%;
  text-align: center;
  margin-top: 3em;
}

.login-btn {
  color: white;
  background-color: #02B875;
}

.mat-card {
  width: 50%;
  margin: 0 auto;
  margin-top: 3em;
}

.mat-card-image {
  border-radius: 50%;
  width: 40%;
  display: block;
  margin: 1em auto!important;
}
