<!-- <div class="card">
  <img [src]="profile.imageUrl" [alt]="img" style="width:100%">
  <h3>{{profile.name}}</h3>
  <div style="padding-bottom:1.5em;">
    <a href="#" class="title">{{profile.username}}</a>
  </div>
  <div>
    <button class="publication" (click)="listPublications()">List publications</button>
    <button class="logout" (click)="logout()">Logout</button>
  </div>
</div> -->

<div class="card-alignment">
  <mat-card class="example-card">
    <img mat-card-image [src]="profile.imageUrl" [alt]="img">
    <mat-card-title>{{profile.name}}</mat-card-title>
    <mat-card-subtitle>
      <a href="{{profile.url}}" target="_blank" class="title">@{{profile.username}}</a>
    </mat-card-subtitle>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>
</div>
