.card-alignment {
  margin: auto!important;
  margin-top: 0.4em!important;
  width: 82%!important;
}

.name,
.mat-card-subtitle {
  text-align: center!important;
}

.mat-card-title {
  font-size: 1.4rem;
}

.mat-card-image {
  border-radius: 50%;
  width: 75%;
  display: block;
  margin: 1em auto !important;
}
