.divider {
  padding: 0.3em;
}

.mat-card-title {
  font-size: 1em!important;
  font-weight: 400;
}

.mat-card-subtitle {
  font-size: 0.8em!important;
}

.mat-card {
  padding: 1em;
  padding-bottom: 0.2em;
}

.profile {
  width: 25%;
  float: left;
}

.publications {
  float: right;
  width: 75%;
}
