<mat-toolbar>
  <span>Medium OAuth2.0 + Angular</span>
  <span class="fill-remaining-space"></span>
  <div [hidden]="!didUserLoggedIn">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/publications">
        <mat-icon>books</mat-icon>
        <span>Publications</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>clear</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
