.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: #02B875;
  color: aliceblue;
  font-weight: 300;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
  box-shadow: 0 1px 8px 0px #999;
}
